/**
 * -----------------------------------------------------
 * File        calladmin-client.rc
 * Authors     Impact, David <popoklopsi> Ordnung
 * License     GPLv3
 * Web         http://gugyclan.eu, http://popoklopsi.de
 * -----------------------------------------------------
 * 
 * CallAdmin Resource File
 * Copyright (C) 2013 Impact, David <popoklopsi> Ordnung
 * 
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>
 */

#include <winver.h>
#include "wx/msw/wx.rc"

// Call Admin Icon
calladmin_icon ICON "calladmin_icon.ico"

// Call Admin Avatar
calladmin_avatar BITMAP "calladmin_avatar.bmp"

// Call Admin Sound
calladmin_sound WAVE "calladmin_sound.wav"


LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

VS_VERSION_INFO VERSIONINFO
	FILEVERSION     1,0,0,0
	PRODUCTVERSION  1,0,0,0
	FILEFLAGSMASK 0x17L
	#if defined(_DEBUG)
		FILEFLAGS 1
	#else
		FILEFLAGS 0
	#endif
	FILEOS      VOS__WINDOWS32
	FILETYPE    VFT_APP
	FILESUBTYPE 0x0L

BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "000004b0"
		BEGIN
			VALUE "Comments", "CallAdmin Client"
			VALUE "FileDescription", "Client to receive calls from players"
			VALUE "FileVersion", "1.0"
			VALUE "InternalName", "CallAdmin Client"
			VALUE "LegalCopyright", "Copyright (c) 2013, David Ordnung, Impact"
			VALUE "OriginalFilename", "calladmin-client.exe"
			VALUE "ProductName", "CallAdmin Client for Sourcemod"
			VALUE "ProductVersion", "1.0"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x0, 1200
	END
END
